<div class="Cash_Vending">

    <table class="cart">
        <tr>
            <td data-ng-repeat="prd in cart">
                <img id="prdImg" ng-src="{{ prd.imagePath }}" err-src="../Images/ProductImageNotFound.png" alt="productImage">
            </td>
        </tr>
    </table>

    <div id = "cashMsg">

        <p>{{translate("TotalAmountLabel")}}{{ currencyFilter(summary.TotalPrice) }}</p>

        <p>{{translate("InsertedAmountLabel")}}{{ currencyFilter(insertedAmount) }}</p>

    </div>

    <p id="hint">{{ hintMsg }}</p>

    <p><img class="regularBtn" id="cancelImg" ng-src="{{localizedImage('cancel.png')}}" err-src="../Images/cancel.png" ng-show="showCancelBtnCash" ng-click="cancel()"></p>

    <canvas id="spinner"></canvas>

</div>