<div class="cash_card">

    <h2>{{translate("InstructionMessage")}}</h2>

    <div class="cashAndCards">

        <img class="paymentMethod" ng-click="cash()" ng-src="{{localizedImage('cash.png')}}" err-src="../Images/cash.png" alt="cash">

        <img class="paymentMethod" ng-click="card()" ng-src="{{localizedImage('card.png')}}" err-src="../Images/card.png" alt="card">

    </div>

    <img class="regularBtn" id="cancelImg" ng-src="{{localizedImage('cancel.png')}}" err-src="../Images/cancel.png" ng-click="cancel()">

</div>
