<div class="coil_keypad">

    <button id="adminBtn" ng-show="true" ng-click="admin()"></button>

    <h2>{{translate(instructionMessage)}}</h2>

    <div id="keypad">
         <img src="../Images/Button_1.png" ng-click="press(1)">
         <img src="../Images/Button_2.png" ng-click="press(2)">
         <img src="../Images/Button_3.png" ng-click="press(3)">
         <img src="../Images/Button_4.png" ng-click="press(4)">
         <img src="../Images/Button_5.png" ng-click="press(5)">
         <img src="../Images/Button_6.png" ng-click="press(6)">
         <img src="../Images/Button_7.png" ng-click="press(7)">
         <img src="../Images/Button_8.png" ng-click="press(8)">
         <img src="../Images/Button_9.png" ng-click="press(9)">
         <img src="../Images/Button_10.png" ng-click="press(0)">
         <img ng-src="{{localizedImage('Button_Clear.png')}}" err-src="../Images/Button_Clear.png" ng-click="clear()">
         <img ng-src="{{localizedImage('Button_Enter.png')}}" err-src="../Images/Button_Enter.png" ng-click="enter()">
    </div>

    <p id="coilInput">{{prompt()}}</p>

    <img class="regularBtn" id="viewCartImg" ng-src="{{ localizedImage('ViewCart.png') }}"
         err-src="../Images/ViewCart.png" ng-click="viewCart()" ng-show="bShowViewCart">

    <img class="regularBtn logoutBtn-Position" id="logoutImg" ng-src="../Images/Logout.png"
         err-src="../Images/Logout.png" ng-click="logout()" ng-show="isLoggedIn()"/>

</div>