<div class="jofemar">

    <div style="position: absolute; top: 0; right: 0; width: 500px; text-align:right;">
        <p style="color:white; background-color:black" class="vmsStatus"></p>
    </div>

    <h2 id="instruction">{{ instructionMessage }}</h2>

    <table>

        <td><select id="selectMachine" data-ng-show="bShowDropDownForMachines"></select></td>

        <td><button class="smallButton"  id="lightOn" ng-click="lightOn()">{{translate('LightOn')}}</button></td>

        <td><button  class="smallButton" id="lightOff" ng-click="lightOff()">{{translate('LightOff')}}</button></td>

    </table>

    <div id="keypad">

        <img src="../Images/Button_1.png" ng-click="press(1)">
        <img src="../Images/Button_2.png" ng-click="press(2)">
        <img src="../Images/Button_3.png" ng-click="press(3)">
        <img src="../Images/Button_4.png" ng-click="press(4)">
        <img src="../Images/Button_5.png" ng-click="press(5)">
        <img src="../Images/Button_6.png" ng-click="press(6)">
        <img src="../Images/Button_7.png" ng-click="press(7)">
        <img src="../Images/Button_8.png" ng-click="press(8)">
        <img src="../Images/Button_9.png" ng-click="press(9)">
        <img src="../Images/Button_10.png" ng-click="press(0)">

        <img ng-src="{{localizedImage('Button_Clear.png')}}" err-src="/Images/Button_Clear.png" ng-click="clear()">
        <img ng-src="{{localizedImage('Button_Vend.png')}}" err-src="/Images/Button_Vend.png" ng-click="vend()">

    </div>

    <p id="coilInput">{{prompt()}}</p>

    <img class="regularBtn" id="backImg" ng-src="{{localizedImage('back.png')}}" err-src="../Images/back.png" ng-click="backToAdminHome()">

</div>

