#keypad{
    position: absolute;
    left:85px;
    /*top:20%;*/
}

h2{
    color:#ffffff;
    text-align: center;
    font-size: 36px;
    position: absolute;
    top: 12%;
    width: 600px;
}

.Shopping_Cart #cancelImg{
    position: absolute;
    left: 240px;
}

.coil_keypad #coilInput{
    position: absolute;
    top:725px;
    left:225px;
}

.jofemar #coilInput{
    position: absolute;
    top:725px;
    left:225px;
}