h2, h3 { margin-top: 0.5em; }
.productDetailBody {
	font-size: 1.5em;
	padding: 10px;
}

.Product_Search .flex-item {
	overflow-x: hidden;
}

.Product_Search img,  .productDetailBody > img{
	max-width: 95% !important;
}

.productDetailHeader p {
	margin-top: 1em;
	margin-right: 6em;
	font-size: 1.35em;
	display: inline-block;
}

.product-list-item {
	padding: 1em;
}

.product-list-item-add-to-cart {
	background-color: #fff;
	padding: 0.3em;
	padding-top: 0.6em;
	box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.product-list-item .product_name {
	height: 4em;
}

.product-list-item .prdPrice {
	font-weight: bold;
}

.product_name h3 {
	font-weight: normal;
	/*height: 3em;*/
}
.row-border{
	 border-top: thin solid black;
}
.shopping-cart-item {
	font-size: 1.5em;
	text-align: center;
}
.shopping-cart-table {
	font-size: 1.5em;
}
.shopping-cart-list-image img {
	max-width: 95% !important;
	max-height: 6em;
}
.product-button {
	font-size: .75em;
}
.product-preview img {
	max-width: 95%
}

.product-list-item .image-container {
	text-align: center;
	height: 10em;
}

.product-list-item .image-container img {
	max-width: 95%;
	max-height: 100%;
}

img.boxShadowed {
	border: 1px solid #aaa;
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.columnHeader {
	font-size: 0.65em;
	text-transform: uppercase;
	font-style: 'italic' !important;
	color: '#555' !important,
	margin-bottom: 4em !important;
}

.shoppingCartItem {
	margin: 0.5em auto;
	padding: 1em;
	border-top: 1px solid #ddd;
}

.shoppingCartItem .productQuantity {
	font-size: 1.5em;
}

.productImageModalDetailView {
	max-width: 98%;
}

.scart-mini {
	float: right;
	width: 120px;
	margin-top: 1.2em;
}

#ComEmulator {
	position: fixed;
	bottom: 10px;
	right: 0;
	margin: 10px;
	background-color: rgba(255, 255, 255, 0.65);
	border: 1px solid #dfdfdf;
	border-radius: 5px;
	padding: 10px;
	max-width: 260px;
}
