#backgroundImage {
    opacity: 0.1;
    background-image: url('/gfx/marijuana_leaves_plants_drugs_420_rasta_3000x2000vertical.jpg');
}

h2, h3 { margin-top: 0.5em; }

.slider-rows {
/*
	padding-left: 30px;
	padding-right: 20px;
*/
}
