<div class="inventory">

    <h2 id="instruction">{{ instructionMessage }}</h2>

    <div id="keypadStock">

        <img src="../Images/Button_1.png" ng-click="press(1)">

        <img src="../Images/Button_2.png" ng-click="press(2)">

        <img src="../Images/Button_3.png" ng-click="press(3)">

        <img src="../Images/Button_4.png" ng-click="press(4)">

        <img src="../Images/Button_5.png" ng-click="press(5)">

        <img src="../Images/Button_6.png" ng-click="press(6)">

        <img src="../Images/Button_7.png" ng-click="press(7)">

        <img src="../Images/Button_8.png" ng-click="press(8)">

        <img src="../Images/Button_9.png" ng-click="press(9)">

        <img src="../Images/Button_10.png" ng-click="press(0)">

        <img ng-src="{{localizedImage('Button_Clear.png')}}" err-src="../Images/Button_Clear.png" ng-click="clear()">

        <img src="../Images/minus.png" ng-click="removeStock()" ng-show="!bEnterCoil">

        <div id="coilInput2"><p>{{prompt()}}</p></div>

        <img src="../Images/add.png" ng-click="addStock()" ng-show="!bEnterCoil">

        <img ng-src="{{localizedImage('Button_Enter.png')}}" err-src="../Images/Button_Enter.png" ng-show="bEnterCoil" ng-click="enter()">

    </div>


    <div ng-show="bEnterCoil">

        <select id="selectMachine" data-ng-show="bShowDropDownForMachines"></select>

        <button id="fillMachine" data-ng-click="fillMachine()">{{translate('FillMachine')}}</button>

        <p id="displayMachine">{{translate('FillAllCoilsForMachine')}} {{ machineID + 1 }}</p>

    </div>

    <div id="prdInfo" ng-show="!bEnterCoil">

        <img ng-src={{vpbc.imagePath}} err-src="../Images/ProductImageNotFound.png">

        <p>{{ vpbc.productName }}</p>

        <p>Coil: {{ coilNumber }}   Stock Count: {{ vpbc.inventoryCount }}</p>

    </div>

    <img class="regularBtn" id="backImg" ng-src="{{localizedImage('back.png')}}" err-src="../Images/back.png" ng-click="backToAdminHome()">

    <img class="regularBtn" id="fillImg" ng-src="{{localizedImage('Button_Fill.png')}}" err-src="../Images/Button_Fill.png" ng-show="bEnterCoil " ng-click="fillCoil()">

</div>