<div class="myKeyboard">

    <div class="row">
        <div class="key num dual" ng-click="clickKey(switchKeys('`'))">~<br>`</div>
        <div class="key num dual" ng-click="clickKey(switchKeys('1'))">!<br>1</div>
        <div class="key num dual" ng-click="clickKey(switchKeys('2'))">@<br>2</div>
        <div class="key num dual" ng-click="clickKey(switchKeys('3'))">#<br>3</div>
        <div class="key num dual" ng-click="clickKey(switchKeys('4'))">$<br>4</div>
        <div class="key num dual" ng-click="clickKey(switchKeys('5'))">%<br>5</div>
        <div class="key num dual" ng-click="clickKey(switchKeys('6'))">^<br>6</div>
        <div class="key num dual" ng-click="clickKey(switchKeys('7'))">&<br>7</div>
        <div class="key num dual" ng-click="clickKey(switchKeys('8'))">*<br>8</div>
        <div class="key num dual" ng-click="clickKey(switchKeys('9'))">(<br>9</div>
        <div class="key num dual" ng-click="clickKey(switchKeys('0'))">)<br>0</div>
        <div class="key num dual" ng-click="clickKey(switchKeys('-'))">_<br>-</div>
        <div class="key num dual" ng-click="clickKey(switchKeys('='))">+<br>=</div>
        <div class="key backspace" ng-click="bksp()">⌫</div>
    </div>

    <div class="row">
        <div class="key tab" ng-click="bksp()">Tab</div>
        <div class="key letter" ng-click="clickKey(switchKeys('q'))">Q</div>
        <div class="key letter" ng-click="clickKey(switchKeys('w'))">W</div>
        <div class="key letter" ng-click="clickKey(switchKeys('e'))">E</div>
        <div class="key letter" ng-click="clickKey(switchKeys('r'))">R</div>
        <div class="key letter" ng-click="clickKey(switchKeys('t'))">T</div>
        <div class="key letter" ng-click="clickKey(switchKeys('y'))">Y</div>
        <div class="key letter" ng-click="clickKey(switchKeys('u'))">U</div>
        <div class="key letter" ng-click="clickKey(switchKeys('i'))">I</div>
        <div class="key letter" ng-click="clickKey(switchKeys('o'))">O</div>
        <div class="key letter" ng-click="clickKey(switchKeys('p'))">P</div>
        <div class="key dual" ng-click="clickKey(switchKeys('['))">{<br>[</div>
        <div class="key dual" ng-click="clickKey(switchKeys(']'))">}<br>]</div>
        <div class="key letter dual slash" ng-click="clickKey(switchKeys('|'))">|<br>\</div>
    </div>

    <div class="row">
        <div class="key caps" ng-click="capsLock()">Caps<br>Lock</div>
        <div class="key letter" ng-click="clickKey(switchKeys('a'))">A</div>
        <div class="key letter" ng-click="clickKey(switchKeys('s'))">S</div>
        <div class="key letter" ng-click="clickKey(switchKeys('d'))">D</div>
        <div class="key letter" ng-click="clickKey(switchKeys('f'))">F</div>
        <div class="key letter" ng-click="clickKey(switchKeys('g'))">G</div>
        <div class="key letter" ng-click="clickKey(switchKeys('h'))">H</div>
        <div class="key letter" ng-click="clickKey(switchKeys('j'))">J</div>
        <div class="key letter" ng-click="clickKey(switchKeys('k'))">K</div>
        <div class="key letter" ng-click="clickKey(switchKeys('l'))">L</div>
        <div class="key dual" ng-click="clickKey(switchKeys(';'))">:<br>;</div>
        <div class="key dual" ng-click="clickKey(switchKeys('quote'))">"<br>'</div>
        <div class="key enter" ng-click="enter()">Enter</div>
    </div>

    <div class="row">
        <div class="key shift left" ng-click="shiftKey()">Shift</div>
        <div class="key letter" ng-click="clickKey(switchKeys('z'))">Z</div>
        <div class="key letter" ng-click="clickKey(switchKeys('x'))">X</div>
        <div class="key letter" ng-click="clickKey(switchKeys('c'))">C</div>
        <div class="key letter" ng-click="clickKey(switchKeys('v'))">V</div>
        <div class="key letter" ng-click="clickKey(switchKeys('b'))">B</div>
        <div class="key letter" ng-click="clickKey(switchKeys('n'))">N</div>
        <div class="key letter" ng-click="clickKey(switchKeys('m'))">M</div>
        <div class="key dual" ng-click="clickKey(switchKeys(','))">< <br>,</div>
        <div class="key dual" ng-click="clickKey(switchKeys('.'))">><br>.</div>
        <div class="key dual" ng-click="clickKey(switchKeys('/'))">?<br>/</div>
        <div class="key shift right" ng-click="shiftKey()">Shift</div>
    </div>

    <div class="row">
        <div class="key space" ng-click="clickKey(' ')">&nbsp;</div>
    </div>

</div>